@import "./variables";
@import "./mixin";

// Loader

@keyframes rotate {
    0% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
      opacity: 1;
    }
  
    100% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      opacity: 1;
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
    }
  
    30% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  
    60% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
  
    75% {
      transform: translateY(0);
      animation-timing-function: ease-in-out;
    }
  
    80% {
      transform: translateY(-38px);
      animation-timing-function: ease-in;
    }
  
    85% {
      transform: translateY(-25px);
      animation-timing-function: ease-out;
    }
  
    90% {
      transform: translateY(0);
      animation-timing-function: ease-in;
    }
  
    95% {
      transform: translateY(-18px);
      animation-timing-function: ease-in;
    }
  
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }
  
  @keyframes loader {
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0.5;
    }
    100%{
      visibility: hidden;
      opacity: 0;
    }
  } 
  

  // Animation coeurs

@keyframes slide {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  
    100% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }
  }