// Animation Loader

animation: loader 0.01s;
animation-delay: 1.75s;
animation-fill-mode: both;
z-index: 10000;
display:flex;
align-items:center;
justify-content:center;



// Animation coeurs

@keyframes coeur{
}

  @keyframes slide {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  