$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$footer: #353535;
$back: #f6f6f6;
$icon: #7e7e7e;
$fa-font-path: "../web";

$light: #f896dc;
$hover: #f5edff;

$breakpoints: (
  desktop: 1000px
);