body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

/* ---------- Header ---------- */
header {
  height: 50px;
}

header h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ---------- Main ---------- */
.localisation {
  height: 50px;
  background-color: #eaeaea;
  font-size: 0.9em;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.localisation .local__icon {
  margin: 0 4% 0;
}

.reservation {
  width: 100%;
  height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservation_text {
  width: 80%;
  text-align: center;
}

.bouton {
  width: 60%;
  height: 3em;
  margin: 5% 0 5%;
  -webkit-box-shadow: 3px 1px 6px 1px #c6c6c6;
          box-shadow: 3px 1px 6px 1px #c6c6c6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #ff79da), to(#9356dc));
  background: linear-gradient(to bottom, #ff79da 8%, #9356dc 100%);
  border-radius: 25px;
  color: #ffffff;
  font-family: "Roboto";
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  padding: 5% 0 5% 5%;
}

.commande {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commande .container {
  width: 100%;
  margin: 5% 0 10%;
}

.commande .container_btn {
  width: 90%;
  height: 5em;
  padding-left: 10%;
  background-color: #f6f6f6;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 3px 1px 8px 1px #c6c6c6;
          box-shadow: 3px 1px 8px 1px #c6c6c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ---------- Footer ---------- */
.footer {
  width: 100%;
  height: auto;
  min-height: 200px;
  padding-left: 5%;
  background-color: #353535;
  color: white;
  bottom: 0;
}

.footer p {
  font-size: 1.2em;
  padding: 5% 0 0;
  font-family: "Shrikhand", cursive;
}

.footer_list {
  padding: 0 0 10%;
  margin: 0;
  line-height: 2em;
}

.footer_list .fa-utensils,
.footer_list .fa-hands-helping {
  padding: 0 3% 0 0;
}

li {
  list-style: none;
}
/*# sourceMappingURL=style.css.map */