body,
html {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

main {
  width: 100%;
  height: 100%;
  height: auto !important;
}

/* ---------- Header ---------- */
.header {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Shrikhand", cursive;
  -webkit-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
}

/* ---------- Main ---------- */
.localisation {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  font-size: 1em;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.localisation__localicon {
  margin: 0 3% 0;
}

.reservation {
  width: 100%;
  height: 290px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.reservation__title {
  width: 80%;
  text-align: center;
}

.reservation__bouton {
  width: 220px;
  height: 15%;
  margin: 5% 0 5%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ff79da), to(#9356dc));
  background: linear-gradient(to bottom, #ff79da 10%, #9356dc 100%);
  border-radius: 25px;
  color: #ffffff;
  font-family: "Roboto";
  text-decoration: none;
}

@media (min-width: 1000px) {
  .reservation__bouton {
    width: 300px;
    height: 300px;
    margin: 5% 0 1%;
  }
}

/* Partie Fonctionnement */
.commande {
  width: 100%;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.commande__title {
  margin: 5% 0 5% 5%;
}

.commande__container {
  width: 100%;
  height: auto;
  margin: 0 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1000px) {
  .commande {
    width: 95%;
    margin: 1% 2% 1%;
  }
}

.bloc {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.bloc__cercle {
  width: 24px;
  height: 24px;
  margin-right: -10px;
  border-radius: 12px;
  background-color: #9356dc;
  color: white;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc__btn {
  width: 100%;
  min-height: 75px;
  padding: 0;
  margin: 5% 0 5%;
  background-color: #f6f6f6;
  font-size: 1em;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 3px 1px 8px 1px #c6c6c6;
          box-shadow: 3px 1px 8px 1px #c6c6c6;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc__btn:hover {
  background-color: #a16be0;
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}

@media (min-width: 1000px) {
  .bloc__btn {
    min-height: 100px;
    width: 60%;
    margin: 1% 0 1%;
  }
}

.bloc__text {
  width: 80%;
  padding-left: 5%;
  text-align: start;
}

.icon {
  padding: 0 5% 0;
  float: left;
  color: #7e7e7e;
}

/* ---------- Partie restaurants ---------- */
.restaurants {
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  padding-bottom: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.restaurants__title {
  margin: 5% 0 5% 5%;
}

.restaurants a {
  text-decoration: none !important;
  color: black;
}

@media (min-width: 1000px) {
  .restaurants {
    width: 95%;
    border-radius: 10px;
    margin: 1% 2% 1%;
    padding-bottom: 2%;
  }
}

.container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1000px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.carte {
  width: 90%;
  height: auto;
  border-radius: 20px;
  position: relative;
  margin-bottom: 5%;
  -webkit-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
}

.carte__img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.carte__new {
  width: 80px;
  height: 30px;
  margin: 0;
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  top: 15px;
  right: 10px;
  display: block;
}

.carte__new p {
  margin: 0;
  text-align: center;
  font-size: 0.9em;
  line-height: 30px;
}

@media (min-width: 1000px) {
  .carte {
    width: 40%;
    border-radius: 10px;
    margin: 1% 2% 1%;
  }
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2%;
}

.presentation__texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.presentation__texte p {
  padding: 0 0 0 1%;
}

.presentation__favoris {
  width: 10%;
  margin: 2%;
  font-size: 1.8em;
  position: relative;
}

.presentation__name {
  margin: 2%;
}

.vide {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.plein {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.plein:active {
  visibility: visible;
  -webkit-animation: 10s ease-in-out infinite;
          animation: 10s ease-in-out infinite;
  -webkit-background-clip: text;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
}

/* ---------- Footer ---------- */
.footer {
  width: 100%;
  min-height: 200px;
  background-color: #353535;
  color: white;
  bottom: 0;
}

.blocFooter {
  width: 100%;
  padding-left: 5%;
}

.blocFooter__logo {
  padding: 5% 0 5%;
  margin: 0;
  font-size: 1.2em;
  font-family: "Shrikhand", cursive;
}

.list {
  padding: 0 0 10%;
  margin: 0;
  line-height: 2em;
  list-style-type: none;
}

.list .fa-utensils,
.list .fa-hands-helping {
  padding: 0 3% 0 0;
}

.list__lien {
  text-decoration: none;
}

.list__contact {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */