/* --- Animations Loader --- */
@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3);
  }
  50% {
    -webkit-transform: scale(1.7, 1.7);
            transform: scale(1.7, 1.7);
  }
  100% {
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3);
  }
}

@keyframes zoomin {
  0% {
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3);
  }
  50% {
    -webkit-transform: scale(1.7, 1.7);
            transform: scale(1.7, 1.7);
  }
  100% {
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3);
  }
}

/* --- Animations Coeurs --- */
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

/* --- Animations Cartes Menus --- */
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes top {
  from {
  }
  to {
  }
}

@keyframes top {
  from {
  }
  to {
  }
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* ---------- Header ---------- */
.header {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__ancre {
  text-decoration: none;
  color: black;
}

.header__logo {
  width: 70%;
  margin: 0 5% 0;
  padding: 0;
  font-family: "Shrikhand", cursive;
  text-align: center;
  line-height: auto;
}

.header__retour {
  font-size: 1.2em;
}

/* ---------- Partie carte des restaurants ---------- */
.mainMenu {
  width: 100%;
}

.mainMenu__image {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
}

@media (min-width: 1000px) {
  .mainMenu__image {
    width: 50%;
    height: 30vh;
    border-radius: 20px;
    margin: 1% auto 2%;
    display: block;
  }
}

.blocMenu {
  height: 80%;
  padding: 2% 5% 5%;
  margin-top: -5%;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1000px) {
  .blocMenu {
    margin: 0 0 1%;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.blocMenu__nom {
  width: 80%;
}

.blocMenu__titre {
  width: 100%;
  margin-bottom: 5%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Shrikhand", cursive;
}

.type {
  width: 10%;
  padding: 2% 0 2%;
  margin: 5% 0 0;
  border-bottom: 3px solid #99e2d0;
}

@media (min-width: 1000px) {
  .type {
    margin: 1% 0 0;
    padding: 1% 0 1%;
  }
}

.container {
  width: 100%;
  height: auto;
  padding: 2% 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.container__nt1 {
  -webkit-animation: top 1s ease-in;
          animation: top 1s ease-in;
}

@media (min-width: 1000px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2% 0 2%;
  }
}

.favoris {
  width: 20%;
  height: auto;
  font-size: 1.4em;
  color: #7e7e7e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.case {
  width: 100%;
  height: 75px;
  padding: 4% 0 4%;
  margin: 4% 0 4%;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 1000px) {
  .case {
    width: 30%;
    height: 85px;
    min-height: 18vh;
    padding: 0;
    margin: 1% 0 0;
    padding: 1%;
    font-size: 1.2em;
  }
}

.case__description {
  width: 85%;
  margin: 0 0 1% 5%;
}

.case__nom {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 3%;
}

.case__info {
  font-family: Roboto, sans-serif;
  font-size: em;
  font-weight: lighter;
  color: grey;
}

.case__prix {
  width: 20%;
  margin: auto 0 5%;
  font-size: 0.8em;
  font-weight: bold;
}

.case__check {
  visibility: hidden;
  width: 30%;
  height: auto;
  background-clip: green;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.case__check:hover {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.delay__nt1 {
  -webkit-animation: 1s fadein ease-in;
          animation: 1s fadein ease-in;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.delay__nt2 {
  -webkit-animation: 1s fadein ease-in;
          animation: 1s fadein ease-in;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.delay__nt3 {
  -webkit-animation: 1s fadein ease-in;
          animation: 1s fadein ease-in;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.delay__nt4 {
  -webkit-animation: 1s fadein ease-in;
          animation: 1s fadein ease-in;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.delay__nt5 {
  -webkit-animation: 1s fadein ease-in;
          animation: 1s fadein ease-in;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.delay__nt6 {
  -webkit-animation: 1s fadein ease-in-out;
          animation: 1s fadein ease-in-out;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
}

.delay__nt7 {
  -webkit-animation: 1s fadein ease-in;
          animation: 1s fadein ease-in;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.delay__nt8 {
  -webkit-animation: 1s fadein ease-in;
          animation: 1s fadein ease-in;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.delay__nt9 {
  -webkit-animation: 1s fadein ease-in;
          animation: 1s fadein ease-in;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.delay__nt10 {
  -webkit-animation: 1s fadein ease-in;
          animation: 1s fadein ease-in;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-delay: 550ms;
          animation-delay: 550ms;
}

.wrapbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapbtn__bouton {
  width: 185px;
  height: 50px;
  padding: 0;
  margin: 2% 0 2%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ff79da), to(#9356dc));
  background: linear-gradient(to bottom, #ff79da 10%, #9356dc 100%);
  border-radius: 25px;
  border: none;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 1.2em;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

@media (min-width: 1000px) {
  .wrapbtn__bouton {
    width: 250px;
    height: 55px;
    margin: 5% 0 1%;
  }
}

.wrapbtn__bouton:hover:after {
  opacity: 1;
}

.wrapbtn__bouton:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fface8), to(#ae80e5));
  background: linear-gradient(to bottom, #fface8 20%, #ae80e5 100%);
  border-radius: 25px;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

/* ---------- Footer ---------- */
.blocFooter {
  width: 100%;
  min-height: 200px;
  padding-left: 5%;
  background-color: #353535;
  color: white;
  bottom: 0;
}

.blocFooter__logo {
  padding: 5% 0 5%;
  font-size: 1.2em;
  font-family: "Shrikhand", cursive;
}

.list {
  padding: 0 0 10%;
  line-height: 2em;
  list-style-type: none;
}

@media (min-width: 1000px) {
  .list {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.list .fa-utensils,
.list .fa-hands-helping {
  padding: 0 3% 0 0;
}

.list__lien {
  text-decoration: none;
}

.list__contact {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style2.css.map */