@import "./variables";
@import "./mixin";
@import "./animation";

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* ---------- Header ---------- */

.header {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__ancre {
    text-decoration: none;
    color: black;
  }

  &__logo {
    width: 70%;
    margin: 0 5% 0;
    padding: 0;
    font-family: "Shrikhand", cursive;
    text-align: center;
    line-height: auto;
  }

  &__retour {
    font-size: 1.2em;
  }
}

/* ---------- Partie carte des restaurants ---------- */

.mainMenu {
  width: 100%;

  &__image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    position: relative;
    z-index: 1;

    @media (min-width: 1000px) {
      width: 50%;
      height: 30vh;
      border-radius: 20px;
      margin: 1% auto 2%;
      display: block;
    }
  }
}

.blocMenu {
  height: 80%;
  padding: 2% 5% 5%;
  margin-top: -5%;
  background-color: $back;
  border-radius: 20px 20px 0 0;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: 1000px) {
    margin: 0 0 1%;
    border-radius: 20px;
    display: flex;
  }

  &__nom {
    width: 80%;
  }

  &__titre {
    width: 100%;
    margin-bottom: 5%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Shrikhand", cursive;
  }

}

.type {
  width: 10%;
  padding: 2% 0 2%;
  margin: 5% 0 0;
  border-bottom: 3px solid $tertiaire;

  @media (min-width: 1000px) {
    margin: 1% 0 0;
    padding: 1% 0 1%;
  }


}

.container {
  width: 100%;
  height: auto;
  padding: 2% 0 2%;
  @include column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;

  &__nt1 {
    animation: top 1s ease-in;
  }

  @media (min-width: 1000px) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2% 0 2%;
  }

}

.favoris {
  width: 20%;
  height: auto;
  font-size: 1.4em;
  color: $icon;
  display: flex;
}

.case {
  width: 100%;
  min-height: auto;
  padding: 4% 0 4%;
  margin: 4% 0 4%;
  background-color: white;
  border-radius: 20px;
  font-size: 1.4em;
  @include shadow;
  display: flex;
  flex-direction: row;

  @media (min-width: 1000px) {
    width: 30%;
    min-height: 18vh;
    padding: 0;
    margin: 1% 0 0;
    font-size: 1.4em;
  }

  &__description {
    width: 85%;
    margin: 1% 0 1% 5%;
    line-height: 40px;
  }

  &__nom {
    font-weight: bold;
    font-size: 1em;
  }

  &__info {
    font-family: Roboto, sans-serif;
    font-size: 0.9em;
    font-weight: lighter;

  }

  &__prix {
    width: 20%;
    margin: auto 0 5%;
    font-size: 0.8em;
    font-weight: bold;
  }

  &__check {
    visibility: hidden;
    width: 30%;
    height: auto;
    background-clip: green;
    transition: all 1s ease-out;

    &:hover {
      visibility: visible;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
    }
  }
}

.delay {
  &__nt1 {
    animation: 1s fadein ease-in;
    transform-origin: top;
    animation-delay: 150ms;
  }

  &__nt2 {
    animation: 1s fadein ease-in;
    transform-origin: top;
    animation-delay: 150ms;
  }

  &__nt3 {
    animation: 1s fadein ease-in;
    transform-origin: top;
    animation-delay: 200ms;
  }

  &__nt4 {
    animation: 1s fadein ease-in;
    transform-origin: top;
    animation-delay: 250ms;
  }

  &__nt5 {
    animation: 1s fadein ease-in;
    transform-origin: top;
    animation-delay: 300ms;
  }

  &__nt6 {
    animation: 1s fadein ease-in-out;
    transform-origin: top;
    animation-delay: 350ms;
  }

  &__nt7 {
    animation: 1s fadein ease-in;
    transform-origin: top;
    animation-delay: 400ms;
  }

  &__nt8 {
    animation: 1s fadein ease-in;
    transform-origin: top;
    animation-delay: 450ms;
  }

  &__nt9 {
    animation: 1s fadein ease-in;
    transform-origin: top;
    animation-delay: 500ms;
  }

  &__nt10 {
    animation: 1s fadein ease-in;
    transform-origin: top;
    animation-delay: 550ms;
  }
}


.wrapbtn {
  @include centrerow;
  justify-content: center;

  &__bouton {
    width: 185px;
    height: 50px;
    padding: 0;
    margin: 2% 0 2%;
    background: linear-gradient(to bottom, $secondaire 10%, $primaire 100%);
    border-radius: 25px;
    border: none;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 1.2em;
    text-decoration: none;

    @media (min-width: 1000px) {
      width: 250px;
      height: 55px;
      margin: 5% 0 1%;
    }
  }
}

/* ---------- Footer ---------- */

.blocFooter {
  width: 100%;
  min-height: 200px;
  padding-left: 5%;
  background-color: $footer;
  color: white;
  bottom: 0;

  &__logo {
    padding: 5% 0 5%;
    font-size: 1.2em;
    font-family: "Shrikhand", cursive;
  }
}

.list {
  padding: 0 0 10%;
  line-height: 2em;
  list-style-type: none;

  @media (min-width: 1000px) {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .fa-utensils,
  .fa-hands-helping {
    padding: 0 3% 0 0;
  }

  &__lien {
    text-decoration: none;
  }

  &__contact {
    text-decoration: none;
    color: white;
  }
}