@import "./variables";
@import "./mixin";

body,
html {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

main {
  width: 100%;
  height: 100%;
  height: auto !important;
}

h2 {
  padding: 5% 0 5% 5%;
  margin: 0;
}
/* ---------- Header ---------- */

header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 0;
  padding: 0;
  font-family: "Shrikhand", cursive;
}

/* ---------- Main ---------- */

.localisation {
  height: 50px;
  background-color: #eaeaea;
  font-size: 1em;
  font-weight: 500;
  @include centrer;
  .local__icon {
    margin: 0 4% 0;
  }
}

.reservation {
  width: 100%;
  height: 290px;
  background-color: $back;
  @include column;
  &_text {
    width: 80%;
    text-align: center;
  }
}

.bouton {
  @include bouton;
  @include centrer;
}

/* Partie tuto commandes */

.commande {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.container {
  @include auto;
  margin: 0 0 5%;
  @include column;
}

.bloc {
  width: 90%;
  @include centrerow;
  &__btn {
    width: 100%;
    min-height: 65px;
    padding: 0;
    margin: 5% 0 5%;
    background-color: $back;
    font-size: 1em;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 1px 8px 1px #c6c6c6;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__text {
    width: 80%;
    padding-left: 5%;
  }
}

.icon {
  padding: 0 5% 0;
  float: left;
  &--g {
    color: $icon;
  }
  &--v {
    color: $primaire;
  }
}

.cercle {
  width: 24px;
  height: 24px;
  margin-right: -10px;
  border-radius: 12px;
  background-color: $primaire;
  color: white;
  z-index: 2;
  @include centrer;
}

/* ---------- Partie restaurants ---------- */
.mainMenu {
  width: 100%;
  height: auto;
}
.restaurants {
  @include auto;
  background-color: $back;
  padding-bottom: 15%;
}

.box {
  @include centrer;
  &__case {
    width: 90%;
    height: auto;
    margin-bottom: 5%;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
}

.box_img {
  position: relative;
}
.pic {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.btn {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 8%;
  right: 5%;
  background-color: $tertiaire;
  border: none;
  color: #008766;
}

.text {
  padding: 2% 0 2% 5%;
  text-align: left;
  margin: 0;
  display: flex;
  flex-direction: row;
  &_info {
    width: 90%;
    margin: 0;
  }
}
.fa-heart {
  height: auto;
  font-size: 25px;
  padding-right: 5%;
  height: auto;
  float: right;
  display: flex;
  align-items: center;
  &:hover {
    background: linear-gradient($primaire, $secondaire);
  }
}

/* ---------- Footer ---------- */

.footer {
  width: 100%;
  min-height: 200px;
  background-color: $footer;
  color: white;
  bottom: 0;
}

.blocFooter {
  width: 100%;
  padding-left: 5%;
  &__logo {
    padding: 5% 0 5%;
    margin: 0;
    font-size: 1.2em;
    font-family: "Shrikhand", cursive;
  }
}

.list {
  padding: 0 0 10%;
  margin: 0;
  line-height: 2em;
  list-style-type: none;
  .fa-utensils,
  .fa-hands-helping {
    padding: 0 3% 0 0;
  }
  &__lien {
    text-decoration: none;
  }
  &__contact {
    text-decoration: none;
    color: white;
  }
}
