body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

/* ---------- Header ---------- */
.header {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__ancre {
  text-decoration: none;
  color: black;
}

.header__logo {
  width: 70%;
  margin: 0 5% 0;
  padding: 0;
  font-family: "Shrikhand", cursive;
  text-align: center;
  line-height: auto;
}

.header__retour {
  font-size: 1.2em;
}

/* ---------- Partie carte des restaurants ---------- */
.mainMenu {
  width: 100%;
}

.mainMenu__image {
  width: 100%;
  height: 30%;
  position: relative;
  z-index: 1;
}

@media (min-width: 1000px) {
  .mainMenu__image {
    width: 50%;
    height: auto;
    border-radius: 20px;
    margin: 1% auto 2%;
    display: block;
  }
}

.blocMenu {
  height: 80%;
  padding: 2% 5% 5%;
  margin-top: -5%;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1000px) {
  .blocMenu {
    margin: 0 1% 1%;
    border-radius: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.blocMenu__nom {
  width: 80%;
}

.blocMenu__titre {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Shrikhand", cursive;
}

.type {
  width: 10%;
  padding: 2% 0 2%;
  margin: 5% 0 0;
  border-bottom: 3px solid #99e2d0;
}

@media (min-width: 1000px) {
  .type {
    margin: 1% 0 0;
    padding: 1% 0 1%;
  }
}

.type__h3 {
  margin: 0;
}

.favoris {
  width: 20%;
  height: auto;
  font-size: 1.4em;
  color: #7e7e7e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cases {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% 0 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
}

.cases__contenant {
  width: 100%;
  padding: 0;
  margin: 5% 0 5%;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 1000px) {
  .cases__contenant {
    width: 20%;
    height: auto;
    font-size: 1.4em;
  }
}

.cases__contenant__check {
  visibility: hidden;
  width: 30%;
  height: auto;
  background-clip: green;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.cases__contenant__check:hover {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.cases__description {
  width: 70%;
  margin-left: 5%;
}

.cases__prix {
  width: 20%;
  margin: 0 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* ---------- Footer ---------- */
.footer {
  width: 100%;
  min-height: 200px;
  background-color: #353535;
  color: white;
  bottom: 0;
}

.blocFooter {
  padding-left: 5%;
}

.blocFooter__logo {
  padding: 5% 0 5%;
  margin: 0;
  font-size: 1.2em;
  font-family: "Shrikhand", cursive;
}

.list {
  padding: 0 0 10%;
  margin: 0;
  line-height: 2em;
  list-style-type: none;
}

.list .fa-utensils,
.list .fa-hands-helping {
  padding: 0 3% 0 0;
}

.list__lien {
  text-decoration: none;
}

.list__contact {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style2.css.map */