body,
html {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

main {
  width: 100%;
  height: 100%;
  height: auto !important;
}

h2 {
  padding: 5% 0 5% 5%;
  margin: 0;
}

/* ---------- Header ---------- */
header {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Shrikhand", cursive;
}

/* ---------- Main ---------- */
.localisation {
  height: 50px;
  background-color: #eaeaea;
  font-size: 1em;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.localisation .local__icon {
  margin: 0 4% 0;
}

.reservation {
  width: 100%;
  height: 290px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservation_text {
  width: 80%;
  text-align: center;
}

.bouton {
  width: 220px;
  height: 3em;
  margin: 5% 0 5%;
  -webkit-box-shadow: 3px 1px 6px 1px #c6c6c6;
          box-shadow: 3px 1px 6px 1px #c6c6c6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #ff79da), to(#9356dc));
  background: linear-gradient(to bottom, #ff79da 8%, #9356dc 100%);
  border-radius: 25px;
  color: #ffffff;
  font-family: "Roboto";
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Partie tuto commandes */
.commande {
  width: 100%;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 100%;
  height: auto;
  margin: 0 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc__btn {
  width: 100%;
  min-height: 65px;
  padding: 0;
  margin: 5% 0 5%;
  background-color: #f6f6f6;
  font-size: 1em;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 3px 1px 8px 1px #c6c6c6;
          box-shadow: 3px 1px 8px 1px #c6c6c6;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc__text {
  width: 80%;
  padding-left: 5%;
}

.icon {
  padding: 0 5% 0;
  float: left;
}

.icon--g {
  color: #7e7e7e;
}

.icon--v {
  color: #9356dc;
}

.cercle {
  width: 24px;
  height: 24px;
  margin-right: -10px;
  border-radius: 12px;
  background-color: #9356dc;
  color: white;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ---------- Partie restaurants ---------- */
.restaurants {
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  padding-bottom: 15%;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__case {
  width: 90%;
  height: auto;
  margin-bottom: 5%;
  border-radius: 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box_img {
  position: relative;
}

.pic {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.btn {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 8%;
  right: 5%;
  background-color: #99e2d0;
  border: none;
  color: #008766;
}

.text {
  padding: 2% 0 2% 5%;
  text-align: left;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.text_info {
  width: 90%;
  margin: 0;
}

.fa-heart {
  height: auto;
  font-size: 25px;
  padding-right: 5%;
  height: auto;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-heart:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
}

/* ---------- Les 4 autres pages ---------- */
.image {
  width: 100%;
  height: 20%;
  z-index: 1;
  position: relative;
}

.image__plat {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  width: 100%;
  height: auto;
  margin-top: -5%;
  padding-bottom: 5%;
  border-radius: 20px 20px 0 0;
  background-color: #f6f6f6;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__titre {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.plat {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.plat__text {
  width: 80%;
  padding: 2% 0 2% 2%;
}

.platBloc {
  width: 100%;
  height: auto;
  margin-top: 2%;
}

.platBloc__type {
  width: 15%;
}

.platBloc__type h3 {
  width: 60%;
  margin: 0 0 5%;
  border-bottom: solid 3px #99e2d0;
}

.plat {
  width: 100%;
  height: 65px;
  margin-top: 3%;
  background-color: white;
}

.btn2 {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn2__commander {
  width: 220px;
  height: 3em;
  margin: 5% 0 5%;
  -webkit-box-shadow: 3px 1px 6px 1px #c6c6c6;
          box-shadow: 3px 1px 6px 1px #c6c6c6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #ff79da), to(#9356dc));
  background: linear-gradient(to bottom, #ff79da 8%, #9356dc 100%);
  border-radius: 25px;
  color: #ffffff;
  font-family: "Roboto";
  text-decoration: none;
  border: none;
}

/* ---------- Footer ---------- */
.footer {
  width: 100%;
  min-height: 200px;
  background-color: #353535;
  color: white;
  bottom: 0;
}

.blocFooter {
  width: 100%;
  padding-left: 5%;
}

.blocFooter__logo {
  padding: 5% 0 5%;
  margin: 0;
  font-size: 1.2em;
  font-family: "Shrikhand", cursive;
}

.list {
  padding: 0 0 10%;
  margin: 0;
  line-height: 2em;
  list-style-type: none;
}

.list .fa-utensils,
.list .fa-hands-helping {
  padding: 0 3% 0 0;
}

.list__lien {
  text-decoration: none;
}

.list__contact {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */